version: "3"

services:
  clickhouse:
    image: "ghcr.io/go-faster/clickhouse-server:23.12"
    ports:
      - "9000:9000"
      - "8123:8123"
    volumes:
      - ./clickhouse.xml:/etc/clickhouse-server/config.d/monitoring.xml
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "127.0.0.1:8123/ping"]
      interval: 1s
      timeout: 1s
      retries: 30

  oteldb:
    image: ghcr.io/oteldb/oteldb
    build:
      context: ../../../
      dockerfile: deploy.Dockerfile
    environment:
      - OTELDB_STORAGE=ch
      - CH_DSN=clickhouse://clickhouse:9000
      - OTEL_LOG_LEVEL=info
      - OTEL_TRACES_EXPORTER=none
      - OTEL_METRICS_EXPORTER=none
      - OTEL_LOGS_EXPORTER=stdout
      - OTEL_RESOURCE_ATTRIBUTES=service.name=go-faster.oteldb
    ports:
      - "3100:3100"
    depends_on:
      - clickhouse
  otelcol:
    image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib:latest
    command:
      - "--config=/conf/otel-collector-config.yaml"
    volumes:
      - ./otelcol.yml:/conf/otel-collector-config.yaml
    ports:
      - "3102:3100"
    restart: unless-stopped

  loki:
    image: "grafana/loki:3.0.0"
    command:
      - "-config.file=/etc/loki/config.yml"
    volumes:
      - ./loki.yml:/etc/loki/config.yml
    ports:
      - "3101:3100"
    restart: unless-stopped
